﻿@{
    ViewBag.Title = "Home Page";
}
<!--NAVIGATION-->

    <div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#" class="navbar-brand">Media</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#services">services</a></li>
                    <li><a href="#pricing">pricing</a></li>
                    <li><a href="#team">team</a></li>
                    <li><a href="#client">clients</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--- End Navigation ---->
    <!--- Header ---->

    <div id="header" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h1>Stallions Building Technology</h1>
                    <p>Describing a unique firm such as ours in simple text is always a tall order. There is so much to say about our firm, what we can do, what we have done and who we are as individuals. We've tried to break it down into areas of common interest but if there is something specific you want to know about us, please get in touch and we'll be more than happy to answer your questions.</p>
                    <button class="btn btn-lg btn-primary">Buy Now</button>
                    <button class="btn btn-lg btn-success">View Detail</button>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="~/images/Responsive-Web-Design.png" width="556" height="300" alt="">
                </div>
            </div>
        </div>
    </div>

    <!---- End Header ---->
    <!--- Services ---->

    <div id="services" class="services">
        <div class="container">
            <h2>Services</h2>
            <p>
                All of the services we offer here at Stallions Softwares are completely tailored to you, the client. No two projects are the same and as a result, we create a bespoke proposal designed to suit you and your needs. With that said, we do focus on particular areas of online marketing and search. Some of which you can read about below.
                If you would to know what sort of services we could provide specifically for your business, please contact us and we'll be in touch.
            </p>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-spotify" aria-hidden="true"></i>
                    <h4>Software development</h4>
                    <p>We develop great software as per your needs. Our team convert your ideas into product. We go through all the phases of Software development to give you a perfect product with perfect solutions to your customers. We are expert in all the latest technologies and our team comprises of certified professionals.</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    <h4>Web Site Development</h4>
                    <p>Every Business needs a website in this competitive world. We provide websites with Basic/Professional and Enterprise standards. We have packages for all sort of businesses, Small/Medium or Large. We Provide best packages at a cheaper rate to our customers with most effective service during the contract. We have a record of retaining 100% customers.</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <h4>Mobile Development</h4>
                    <p>We support full service mobile development . We architect, design, and develop great apps for iPhone and iPad OS, and Android OS mobiles and tablets. We are specialist in Mobile compatible website as well.</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-database" aria-hidden="true"></i>
                    <h4>Search Engine Optimization</h4>
                    <p>Our team is dedicatedly working on Search Engine optimization techniques to make you available at the right place at the right time. We are expert in Placing you in top 3 searches in Search Engines like Google/Bing/Yahoo/Rediff and others. provide you with suitable meta tags and keywords.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h4>Quality Assurance / Testing</h4>
                    <p>We Provide testing of your product including Web/ Windows. Our Team consist of some great talent who make your product Bug free.</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-dashcube" aria-hidden="true"></i>
                    <h4>Website Monitoring-Chat Tools</h4>
                    <p>We have a dedicated team who take care of your website or product 24/7 and take necessary steps about thier peak time and down time. We also support Chatting Tools and executives who will chat on your behalf.You dont have to worry about your customers.</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <h4>Social Media Marketting</h4>
                    <p>We are expert in social media. our Social Media team comprises of some great experts who not only make your product visible on web but they make it a more viral brand.</p>
                </div>
                <div class="col-lg-3 col-md-3">
                    <i class="fa fa-support" aria-hidden="true"></i>
                    <h4>Customer Support / BPO Services</h4>
                    <p>We Provide all kind of BPO services. Including Digitization, Data Entry, order processing etc. to fit to your business needs. We also support Voice services as well as Non Voice process as per your requirement.</p>
                </div>
            </div>
        </div>
    </div>

    <!---- End Services ---->
    <!----- Pricing ------>

    <div id="pricing" class="pricing">
        <div class="container">
            <div class="row">
                <h2>Pricing</h2>
                <div class="col-lg-3 col-md-3">
                    <div class="packages">
                        <h3>Website Package For</h3>
                        <hr>
                        <li><a href="#" target="_blank">Builders/Estate-Agents</a></li>
                        <li><a href="#" target="_blank">Coaching-Institutes</a></li>
                        <li><a href="#" target="_blank">Colleges & Schools</a></li>
                        <li><a href="#" target="_blank">Doctors/Hospital/Nursing-Home</a></li>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="packages">
                        <h3>Website Package For</h3>
                        <hr>
                        <li><a href="#" target="_blank">Cyber-Cafes/IT & computer-firms</a></li>
                        <li><a href="#" target="_blank">Small and Medium scale Firms</a></li>
                        <li><a href="#" target="_blank">Travel Agents</a></li>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="packages">
                        <h3>Website Package For</h3>
                        <hr>
                        <li><a href="#" target="_blank">Established & emerging Fashion Models</a></li>
                        <li><a href="#" target="_blank">Writers/Authors</a></li>
                        <li><a href="#" target="_blank">Law-firms/Lawyers</a></li>
                        <li><a href="#" target="_blank">Placement-Firms</a></li>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="packages">
                        <h3>Website Package For</h3>
                        <hr>
                        <li><a href="#" target="_blank">Gym/Health-Clubs</a></li>
                        <li><a href="#" target="_blank">Restaurants/Hotels/Resorts</a></li>
                        <li><a href="#" target="_blank">Politicians/MLA/Corporators</a></li>
                        <li><a href="#" target="_blank">Photographers & Photostudios</a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--- End Pricing ---->
    <!--- Team ----->


    <div id="team" class="team">
        <div class="container">
            <div class="row">
                <h2>About us</h2>
                <p>Describing a unique firm such as ours in simple text is always a tall order. There is so much to say about our firm, what we can do, what we have done and who we are as individuals. We've tried to break it down into areas of common interest but if there is something specific you want to know about us, please get in touch and we'll be more than happy to answer your questions.</p>
                
                <br>
                <br>
                <h2>Our Team</h2>
                <p>The Stallions Softwares team currently consists of few individuals. Each of our team members are highly skilled in a different area of Software Development, Website Designing, online marketing, search engine optimisation, Social Media and other web related fields. Our team is specialised in specific areas with Certification from Microsoft and SUN. All of our team members whilst being technically minded are also skilled in customer liaison and relationship management. So if there is something in particular you would like to discuss, you can speak direct to one of our team without the usual techno babble.
                </p>
                </div>
            </div>
        </div>
    </div>

    <!--- End Team ---->
    <!--- Clients ---->

    <div id="clients" class="clients">
        <div class="container">
            <div class="row">
                <h2>Trusted by</h2>
                <p>We have a record of retaining 100% of our clients. We pride ourselves on being at the forefront of online services and educating ourselves in the latest techniques and methods required to get our clients into the positions they desire.</p>
                <div class="col-lg-3 col-md-3">
                    <img src="~/images/client1_1.png" width="300" height="100" alt="">
                </div>
                <div class="col-lg-3 col-md-3">
                    <img src="~/images/client2_2.png" width="300" height="100" alt="">
                </div>
                <div class="col-lg-3 col-md-3">
                    <img src="~/images/client3_3.png" width="300" height="100" alt="">
                </div>
            </div>
        </div>
    </div>

    <!---- End Clients ----->
    <!--- Contact ------>

    <div id="contact" class="contact">
        <div class="container">
            <div class="row">
                <h2>Contact</h2>
                <div class="col-lg-6 col-md-6">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Full Name">
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Email Address">
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" aria-describedby="sizing-addon1" placeholder="Phone Number">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="input-group">
                        <textarea name="" id="" cols="80" rows="6" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-lg">Submit Your Message</button>
                </div>
            </div>
        </div>
    </div>

    <!---- End Contact ----->
    <!---- Footer ---->

    <div id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4>Contact Us</h4>
                    <p><i class="fa fa-home" aria-hidden="true"></i>Mumbai, Maharashtra, INDIA </p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> website@stallionssoftwares.com </p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +91 9870436050</p>
                    <p><i class="fa fa-globe" aria-hidden="true"></i>website name</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>About</h4>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> About Us</p>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> Terms & Conditions</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4>Stay in touch</h4>
                    <i class="social fa fa-facebook" aria-hidden="true"></i>
                    <i class="social fa fa-twitter" aria-hidden="true"></i>
                    <i class="social fa fa-linkedin" aria-hidden="true"></i>
                    <i class="social fa fa-pinterest" aria-hidden="true"></i>
                    <i class="social fa fa-youtube" aria-hidden="true"></i>
                    <i class="social fa fa-github" aria-hidden="true"></i><br>
                    <input type="email" placeholder="Subscribe For Updates"><button class="btn btn-success">Subscribe</button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="bootstrap.min.js"></script> -->

